<div>
    <dl>
        <dt>
            Titre :
        </dt>
        <dd>
            {{article.nom}}
        </dd>
        <dt>
            Description :
        </dt>
        <dd>
            {{article.description}}
        </dd>
        <dt>
            Créateur :
        </dt>
        <dd>
            {{article.nomCreateur}}
        </dd>
    </dl>
</div>
<div *ngIf="estCreateur; else estPasCreateur">
    <button (click)="update()">Modifier</button>
    <button (click)="delete()">Supprimer</button>
</div>
<ng-template #estPasCreateur>
    <div *ngIf="!estSignaleParUserId;else estSignale">
        <button (click)="signalement()">Signaler</button>
    </div>
</ng-template>

<ng-template #estSignale>
    <button (click)="designaler()">Designaler</button>
</ng-template>
<p>
    <a [routerLink]="'/home/'">Accueil</a>
</p>

<div>
    <h1>Commentaires</h1>
    <form [formGroup]="commentaireForm" (ngSubmit)="envoyerCommentaire()">
        <input type="text" placeholder="Veuillez entrer votre commentaire ici..." formControlName="commentaire">
        <input type="submit" value="Envoyer">
    </form>
    <div>
        <ul *ngIf="commentaires.length > 0; else ngPasdeCommentaire">
            <li *ngFor="let commentaire of commentaires">{{commentaire.nomCreateur}} : {{commentaire.commentaire}} [{{commentaire.date_envoi}}]</li>
        </ul>
        <ng-template #ngPasdeCommentaire>
            <p>Il n'y a encore de commentaires pour cet article</p>
        </ng-template>
    </div>
</div>
