<!-- nav>ul>(li>a>div)*2 -->
<nav class="navbar navbar-expand-md navbar-dark sticky bg-dark ">
<div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img src="/assets/logo_texte_petit.png" alt="image" width="100%" height="auto">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav me-auto p-1">
        <!---->
            <li *ngFor="let navItem of routes" class="nav-item">
        <app-nav-item *ngIf="navItem.isVisible" [navItem]="navItem">
            <img *ngIf="navItem.imgSrc" [src]="navItem.imgSrc">
        </app-nav-item>
        </li>
        <!---->
    </ul>
    <p *ngIf="isConnected" class="m-1 align">
        <button class="btn btn-outline-warning" (click)="logout()">Déconnexion</button>
    </p>
    </div>
</div>
</nav>
<main class="flex-shrink-0">
</main>