<div class="container p-5 d-flex justify-content-center">
    <div class="profil col-6">
        <h1 class="text-center">Mes informations</h1>
        <div class="form-floating mb-3">
            <p>Nom : {{utilisateur.nom}}</p>
        </div>
        <div class="form-floating mb-3">
            Prénom : {{utilisateur.prenom}}
        </div>
        <div class="form-floating mb-3">
            E-mail : {{utilisateur.email}}
        </div>
        <div class="form-floating mb-3">
            Date de naissance : {{utilisateur.dateNaissance}}
        </div>
    </div>
</div>

